<div>
  <div>
    <h1 class="text-warning">
      Assets on Anova
    </h1>
  </div>
</div>

<!-- <hr> -->

<!-- <div>
  <div>
    <h2>
      Add a new asset
    </h2>

    <form action="/insert_asset" method="post">
      <div>
        <label for="price_in_usd_box">
          Price in usd
        </label>

        <input type="text" id="price_in_usd_box" name="query_price_in_usd">
      </div>

      <button>
        Create asset
      </button>
    </form>
  </div>
</div> -->

<!-- <hr> -->
<div>
  <div>
    <table class="table table-dark table-striped table-sm w-25">
      <tr >
        <th class="text-warning">
          <u>Ticker</u>
        </th>

        <th class="text-warning">
          <u>Price</u>
        </th>

      </tr>

      <% @list_of_assets.each do |an_asset| %>
      <tr>
        <td>
          <a class="text-danger" href="/assets/<%= an_asset.id %>">
          <%= an_asset.ticker %>
          </a>
        </td>

        <td class="text-warning">
          <%= number_to_currency(an_asset.price_in_usd) %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
